body{
    background-color: lightblue;
}

/* header/text styling*/
.header1{
    text-align: center;
    padding-top: 2.5%;
}

.header2{
    text-align: center;
    padding-top: 1%;
}

.header3{
    text-align: center;
    padding-top: .5%;
}
/* header/text styling*/


/* Card styling*/
.card {
    margin: 2% 10% 0% 10%;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

.img-border{
    border-radius: 25px;
    border: 2px solid #73AD21;
}
/* Card styling*/


/*Button styling*/
.btn{
    margin: 5px;
    border-radius: 50%; 
    height: 10vw; 
    max-height: 100px; 
    width: 10vw; 
    max-width: 100px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .btn {
        font-size: 0.8em; /* Adjust the font size for small screens */
        line-height: 1.2; /* Adjust line height for vertical centering */
    }
}

.btn:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: greenyellow;
}

/*button styling*/


/*footer hover/footerstyle */
.footerhover:hover{
    animation: bounce .3s infinite alternate;
    
  }
  
  @keyframes bounce {
    to { transform: scale(1.2); }
  }
  
  .footerstyle{
    bottom: 0;
    width: 100%;
    
  }

  .btn2{
    margin: 5px;
    border-radius: 50%; 
    height: 10vw; 
    max-height: 50px; 
    width: 10vw; 
    max-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    padding-bottom: 32px; 
}






